.color1 {
	background: #0F77CB;
}

.color2 {
	background: #075EC5;
}

.color3 {
	background: #61BDF0;
}

.color4 {
	background: #325D90;
}

.color5 {
	background: #063F83;
}

.blue {
	background-color: #F2F6FB;
}

* {
	box-sizing: border-box;
	transition: 0.2s;
}

.zoom {
	cursor: pointer;
	border-radius: 15px;
}

.wrapper {
	width: 100%;
	max-width: 1400px!important;
	margin: auto;
}

@media (max-width: 1460px) {
	.wrapper {
		padding: 0 30px;
	}
}

.p40 {
	padding: 40px;
}

@media (max-width: 480px) {
	.p40 {
		padding: 20px;
	}
}

.p30 {
	padding: 30px;
}

@media (max-width: 480px) {
	.p30 {
		padding: 15px;
	}
}

.p20 {
	padding: 20px;
}

@media (max-width: 480px) {
	.p20 {
		padding: 15px;
	}
}

.row-gap {
	row-gap: 45px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 1024px) {
	.row-gap {
		row-gap: 25px;
	}
}

@media (max-width: 480px) {
	.row-gap {
		row-gap: 15px;
	}
}

.nowrap {
	flex-wrap: nowrap;
}

.flex-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	column-gap: 30px;
	row-gap: 30px;
	max-width: 100%;
	width: 100%;
}

@media (max-width: 1366px) {
	.flex-row {
		column-gap: 20px;
		row-gap: 20px;
	}
}

@media (max-width: 860px) {
	.flex-row {
		flex-wrap: wrap;
		column-gap: 15px;
		row-gap: 15px;
	}

	.flex-row .flex-col {
		flex: 48%;
		margin-bottom: 20px;
	}
}

@media (max-width: 480px) {
	.flex-row {
		column-gap: 10px;
	}

	.flex-row .flex-col {
		flex: 100%;
	}
}

.flex-row.dowble {
	flex-wrap: wrap;
}

.flex-row.dowble .flex-col {
	flex: 48.5%;
}

.flex-row.three {
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
}

.flex-row.three .flex-col {
	flex: 33%;
	max-width: 32%;
}

@media (max-width: 1400px) {
	.flex-row.three {
		column-gap: 15px;
		row-gap: 15px;
	}
}

@media (max-width: 1200px) {
	.flex-row.three .flex-col {
		flex: 33%;
		max-width: 30%;
	}
}

@media (max-width: 1000px) {
	.flex-row.three .flex-col {
		flex: 49%;
		max-width: 48%;
	}
}

@media (max-width: 1000px) {
	.flex-row.three .flex-col {
		flex: 49%;
		max-width: 48%;
	}
}

.flex-row.grid {
	flex-wrap: wrap;
	justify-content: flex-start;
}

.flex-row.grid .flex-col {
	flex: 24%;
	max-width: 23%;
}

@media (max-width: 1200px) {
	.flex-row.grid .flex-col {
		max-width: 32%;
	}
}

@media (max-width: 960px) {
	.flex-row.grid .flex-col {
		max-width: 48%;
		flex: 49%;
	}
}

@media (max-width: 480px) {
	.flex-row.grid .flex-col {
		max-width: 100%;
		flex: 100%;
	}
}

.flex-col {
	flex: 1;
}

.flex-col.strech {
	row-gap: 30px;
	display: flex;
	flex-direction: column;
}

.flex-col.big-item {
	min-width: 40%;
}

@media (max-width: 860px) {
	.mobile-scroll {
		overflow-x: scroll;
	}

	.mobile-scroll .flex-row {
		width: 1400px;
		column-gap: 20px;
	}

	.mobile-scroll .flex-row .flex-col {
		flex: 1;
	}
}

footer,
header,
section {
	flex: 100%;
	width: 100%;
	z-index: 10;
	position: relative;
}

body {
	font-family: Jost;
	font-size: 16px;
	font-weight: 400;
	color: #2C3846;
	min-width: 320px;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-wrap: wrap;
	height: 100%;
}

body.fix {
	overflow: hidden!important;
}

body.fix .overlay {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	background: #000000a1;
	z-index: 99;
}

@media (max-width: 480px) {
	body img {
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 1020px) {
	body {
		max-width: 100%;
		width: 100%;
		overflow-x: hidden;
	}
}

@media (max-width: 375px) {
	body {
		max-width: 100%;
		overflow-x: hidden;
		font-size: 14px;
	}
}

section {
	padding: 70px 0 60px;
}

@media (max-width: 1020px) {
	section {
		padding: 50px 0;
	}
}

@media (max-width: 480px) {
	section {
		padding: 30px 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0C54A0;
	font-weight: 400;
	position: relative;
	margin: auto;
	margin-bottom: 30px;
}

h1 {
	font-size: 65px;
	line-height: 120%;
}

@media (max-width: 1366px) {
	h1 {
		font-size: 60px;
		line-height: 110%;
	}
}

@media (max-width: 1200px) {
	h1 {
		font-size: 50px;
		line-height: 110%;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 45px;
		line-height: 110%;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 40px;
		line-height: 100%;
	}
}

h2 {
	color: #0C54A0;
	font-size: 50px;
	line-height: 120%;
	width: 100%;
}

h3 {
	font-size: 46px;
	line-height: 120%;
	width: 100%;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
	font-weight: 500;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.smalltext,
.subtext {
	font-size: 15px;
	line-height: 130%;
	color: #727F8E;
}

@media (max-width: 600px) {
	.smalltext,
  .subtext {
		font-size: 14px;
		line-height: 120%;
	}
}

.text {
	font-size: 18px;
	line-height: 130%;
	margin-bottom: 10px;
	color: #2C3846;
}

@media (max-width: 1366px) {
	.text {
		font-size: 16px;
	}
}

.descript {
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 10px;
	font-weight: 500;
}

@media (max-width: 1366px) {
	.descript {
		font-size: 19px;
		line-height: 115%;
	}
}

@media (max-width: 600px) {
	.descript {
		font-size: 17px;
		line-height: 115%;
	}
}

.wartext {
	font-size: 20px;
	line-height: 130%;
	color: #2C3846;
}

.btn {
	max-width: 260px;
	width: 260px;
	height: 66px;
	padding: 20px;
	border-radius: 35px!important;
	font-weight: 500;
	text-align: center;
	text-decoration: none!important;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;
	column-gap: 20px;
}

.btn.outline {
	border: 1px solid #d5e0ec;
	background: transparent;
	color: #727F8E;
	font-size: 18px;
	font-weight: 400;
}

.btn.outline::after {
	content: "\e904";
	display: block;
	float: right;
	font-family: 'icomoon' !important;
	font-size: 12px;
	margin-left: -5px;
}

.btn.outline:hover {
	background-color: #0C54A0 !important;
	color: #fff;
}

.btn.main {
	background: #0C54A0 !important;
	color: #fff!important;
}

.btn.blue {
	background: #9FCAFF !important;
	color: #0C54A0 !important;
	border: 0px!important;
	min-width: 200px;
	max-width: 250px;
}

.btn.blue:hover {
	background: #61BDF0!important;
}

.btn.round {
	border-radius: 100%;
	border: 1px solid #d5e0ec;
	color: #91a0b1;
	font-size: 12px;
	width: 56px;
	height: 56px;
}

.btn.round:hover {
	color: #fff;
	background-color: #0C54A0;
}

.btn.white {
	background-color: #fff;
}

.tabs {
	border-radius: 15px;
	background: #F2F6FB;
	padding: 20px;
	display: flex;
	height: auto;
}

.tabs .indicator {
	display: none;
}

.tabs .tab {
	margin-left: 15px;
}

.tabs .tab a {
	padding: 12px 30px;
	border: 1px solid #d5e0ec;
	border-radius: 35px;
	line-height: 170%;
	color: #727F8E;
	font-weight: 400;
	text-decoration: none!important;
}

.tabs .tab a:hover {
	color: #0C54A0;
	background: #E1EEFF;
}

.tabs .tab a.active {
	color: #fff;
	border: 1px solid #0C54A0;
	background-color: #0C54A0;
}

.tab-content {
	width: 100%;
	flex: 100%;
}

form {
	width: 100%;
	flex: 100%;
	display: flex;
	row-gap: 25px;
	flex-wrap: wrap;
}

.inline-form {
	column-gap: 15px;
	flex: 100%;
	width: 100%;
	position: relative;
	flex-wrap: nowrap;
}

@media (max-width: 860px) {
	.inline-form {
		flex-wrap: wrap;
		row-gap: 15px;
	}

	.inline-form input,
  .inline-form button,
  .inline-form .select-wrapper {
		flex: 100%!important;
		max-width: 100%!important;
	}
}

.inline-form.blue {
	border-radius: 15px;
	padding: 15px;
}

@media (max-width: 860px) {
	.inline-form.blue {
		padding: 25px;
	}
}

.inline-form label {
	position: absolute;
	bottom: -50px;
}

@media (max-width: 600px) {
	.inline-form label {
		bottom: -60px;
	}
}

.inline-form label span {
	line-height: 100%!important;
	font-size: 14px!important;
}

form input,
form select,
form textarea {
	background: #fff!important;
	border: 1px solid #e1e1e1!important;
	border-radius: 35px!important;
	color: #2C3846 !important;
	font-size: 18px;
	padding: 20px;
	height: 65px;
	font-weight: 300;
	box-sizing: border-box;
	padding: 10px 25px!important;
	margin: auto!important;
}

@media (max-width: 480px) {
	form input,
  form select,
  form textarea {
		padding: 10px 15px;
		border-radius: 15px;
	}
}

.select-wrapper {
	min-width: 300px;
}

.select-wrapper input {
	box-sizing: border-box !important;
	height: 65px;
}

textarea {
	width: 100%;
	resize: vertical;
	padding: 15px;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	height: 150px;
}

.dropdown-content {
	border-radius: 15px !important;
}

.select-wrapper .caret {
	right: 10px;
	z-index: 1;
}

@media (max-width: 480px) {
	input,
  button,
  .select-wrapper {
		flex: 100%!important;
		max-width: 100%!important;
		width: 100%!important;
		min-width: 100%!important;
	}
}

.collapsible {
	width: 100%;
	flex: 100%;
	margin-bottom: 45px;
}

.collapsible-header {
	margin-bottom: 10px;
	position: relative;
	padding: 20px 30px;
	border-bottom: 1px solid #d5e0ec;
}

.collapsible-header:before {
	display: block;
	width: 30px;
	font-size: 20px;
	height: 30px;
	padding-left: 6px;
	line-height: 29px;
	font-family: 'icomoon' !important;
	content: "\e906";
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	transform: rotate(270deg);
}

.collapsible-body {
	border: none;
}

.collapsible.grey .collapsible-header {
	background: #F2F6FB;
	border-radius: 8px;
	border: none;
}

.collapsible .active .collapsible-header:before {
	transform: rotate(90deg);
	padding-left: 10px;
}

ul.pricelist li {
	border-bottom: 1px solid #d5e0ec;
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

ul.pricelist li a {
	color: #727F8E;
	font-size: 18px;
}

ul.pricelist li a:hover {
	color: #0C54A0;
}

ul.pricelist li span {
	color: #0C54A0;
	font-size: 18px;
}

ul.pricelist li b {
	color: #727F8E;
	font-weight: 300;
	text-decoration: line-through;
}

ul.contentlist li {
	font-size: 18px;
	color: #727F8E;
	border-bottom: 1px solid #d5e0ec;
	padding: 15px 30px;
	line-height: 110%;
}

ul.contentlist li:before {
	font-family: 'icomoon' !important;
	content: "\e903";
	color: #0C54A0;
	margin-left: -30px;
	margin-right: 10px;
}

@font-face {
	font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: local("☺"), url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:hover,
[class*=" icon-"]:hover {
	text-decoration: none!important;
}

.icon-place:before {
	content: "\e900";
}

.icon-doc:before {
	content: "\e901";
	font-size: 35px;
}

.icon-find:before {
	content: "\e902";
}

.icon-ok:before {
	content: "\e903";
}

.icon-arr:before {
	content: "\e904";
}

.icon-search:before {
	content: "\e905";
}

.icon-miniarr:before {
	content: "\e906";
}

.icon-date:before {
	content: "\e907";
}

.icon-money:before {
	content: "\e908";
}

.icon-planet:before {
	content: "\e909";
}

.icon-mail:before {
	content: "\e90a";
}

.icon-pdf:before {
	content: "\e90b";
}

.icon-link:before {
	content: "\e90c";
}

.icon-doc2:before {
	content: "\e90d";
}

.icon-time:before {
	content: "\e90e";
}

.icon-phone:before {
	content: "\e90f";
}

.icon-disable:before {
	content: "\e910";
}

.icon-close:before {
	content: "\e911";
}

.icon-check:before {
	content: "\e912";
}

.icon-basket:before {
	content: "\e913";
}

#tecnho {
	padding: 70px 0 120px;
}

#pressa {
	padding: 20px 0 90px;
}

#review {
	padding: 70px 0 50px;
}

#serv {
	padding: 20px 0;
}

#head {
	background: #0C54A0 url(../img/tem_head.jpg);
	height: 600px;
	position: relative;
}

#head .offer {
	margin: auto;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 150px;
}

#head h1 {
	color: #fff;
	font-weight: 700;
	margin-bottom: 0;
}

#head span {
	color: #fff;
	font-size: 50px;
	font-weight: 200;
}

#article {
	padding: 0 0 60px;
}

#advantages {
	padding: 0px;
	margin-top: -66px;
}

#specialist .section-title {
	margin-bottom: 50px;
}

.advantages {
	border-radius: 15px;
	background-color: #fff;
	border: 1px solid #d5e0ec;
	flex: 1;
	display: flex;
	overflow: hidden;
	color: #0C54A0;
	padding-left: 25px;
	align-items: center;
}

.advantages p {
	margin: auto;
}

#review .title {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d5e0ec;
	margin-top: -10px;
}

#review .text {
	color: #727F8E;
}

#consultation {
	padding: 0 0 100px;
}

@media (max-width: 480px) {
	#consultation {
		padding: 0 0 50px;
	}
}

#searchresult {
	flex: 100%;
	width: 100%;
	padding: 20px;
	margin-top: -30px;
	display: none;
}

header {
	position: fixed;
	z-index: 99;
	top: 0;
}

header.inside {
	background: #fff;
	box-shadow: 0px 7px 20px 10px #121b1e0a;
}

header.inside .wrapper {
	box-shadow: 0 0 0 #000!important;
}

header .wrapper {
	border-radius: 60px;
	flex-wrap: nowrap;
	background: #fff;
	padding: 15px;
	box-shadow: 0px 7px 20px 10px #121b1e0a;
}

@media (max-width: 1200px) {
	header .wrapper {
		padding: 10px 15px;
	}
}

@media (max-width: 600px) {
	header .wrapper {
		height: 80px;
	}
}

header .icon-find {
	background: #F2F6FB;
	color: #0C54A0;
	width: 80px;
	display: flex;
	font-size: 20px;
	margin-top: -15px;
	margin-bottom: -15px;
	justify-content: center;
	align-items: center;
	min-width: 50px;
}

header .icon-find:hover {
	background: #0C54A0;
	color: #fff;
}

header .menu {
	display: flex;
	flex-grow: 10;
	margin: 10px 0;
	justify-content: space-evenly;
}

header .menu li {
	border-radius: 10px;
	padding: 10px 15px;
}

@media (max-width: 1200px) {
	header .menu li {
		padding: 10px 5px;
	}
}

header .menu li a {
	color: #0C54A0;
	white-space: nowrap;
	text-decoration: none;
}

header .menu li ul {
	display: none;
	min-width: 150px;
	position: absolute;
	background: #F2F6FB;
	border-radius: 15px;
	border-top-left-radius: 0;
	padding: 20px 0px;
	margin-top: 4px;
	box-shadow: 6px 8px 5px 3px rgba(0, 0, 0, 0.1);
	margin-left: -15px;
}

header .menu li ul li {
	padding: 6px 20px;
	border-radius: 0px;
	margin: 0px;
}

header .menu li ul li:hover {
	background-color: #e4edf8;
}

header .menu li:hover {
	background: #F2F6FB;
}

header .menu li:hover ul {
	display: block;
}

header .logo {
	min-width: 150px;
}

@media (max-width: 480px) {
	header .logo {
		width: 170px;
	}
}

header .connect {
	display: flex;
	column-gap: 10px;
	justify-content: space-between;
	flex-grow: 1;
}

@media (max-width: 600px) {
	header .connect {
		max-width: 115px;
	}
}

header .wp {
	border-radius: 15px;
	background: #F2F6FB url(../images/wp.png) no-repeat center center;
	min-width: 48px;
	width: 65px;
	height: 65px;
	display: block;
}

header .tg {
	border-radius: 15px;
	background: #F2F6FB url(../images/telegramm.png) no-repeat center center;
	min-width: 48px;
	width: 65px;
	height: 65px;
	display: block;
}

header .burger {
	display: none;
	flex: 1;
}

header .btn {
	min-width: 100px;
	flex: 1;
	width: auto;
}

@media (max-width: 600px) {
	header .burger {
		display: block;
	}

	header .menu,
  header .modal-trigger,
  header .icon-find {
		display: none;
	}

	header .wp,
  header .tg {
		width: 54px;
		height: 54px;
		background-size: 30px;
	}
}

.burger {
	position: relative;
	cursor: pointer;
}

.burger:before {
	content: '';
	border-top: 2px solid #819bb8;
	border-bottom: 2px solid #819bb8;
	height: 20px;
	display: block;
	width: 25px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.burger:after {
	content: '';
	height: 2px;
	background-color: #819bb8;
	display: block;
	width: 25px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

footer {
	border-top: 1px solid #d5e0ec;
	padding-top: 30px;
}

@media (max-width: 600px) {
	footer {
		display: none;
	}
}

footer .title {
	padding-bottom: 10px;
}

footer .title:before {
	content: '';
	width: 30px;
	height: 3px;
	background-color: #0C54A0;
	display: block;
	position: absolute;
	bottom: 0px;
}

footer ul {
	padding-bottom: 25px;
}

footer ul li {
	margin-bottom: 5px;
}

footer ul li a,
footer ul li p {
	color: #727F8E;
	font-size: 18px;
	font-weight: 300;
}

footer ul li b {
	display: block;
}

.supperfooter {
	border-top: 1px solid #d5e0ec;
	padding: 25px 0;
	width: 100%;
}

@media (max-width: 600px) {
	.supperfooter {
		padding: 25px 0 100px;
	}
}

.supperfooter .wrapper {
	align-items: center;
}

@media (max-width: 600px) {
	.supperfooter img {
		display: none;
	}
}

.mobile-fotter {
	position: fixed;
	bottom: 0;
	width: 100%;
	-webkit-border-top-left-radius: 35px;
	-webkit-border-top-right-radius: 35px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #fff;
	display: none;
	justify-content: space-between;
	padding: 15px;
	z-index: 90;
	align-items: center;
	box-shadow: 0px -7px 15px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
	.mobile-fotter {
		display: flex;
	}
}

.mobile-fotter .icon-find {
	text-align: center;
	width: 20%;
	height: 68px;
}

.mobile-fotter .icon-find:before {
	font-size: 24px;
	line-height: 250%;
	margin: auto;
}

.depositbox {
	background: #0270C2;
	background: linear-gradient(135deg, #0270C2, #0246AA);
	border-radius: 15px;
	padding: 0px 60px;
	position: relative;
	display: flex;
	align-items: center;
	min-height: 300px;
}

.depositbox.grey {
	background: #F2F6FB;
	border: 1px solid #d5e0ec;
}

.depositbox.grey h4 {
	color: #0C54A0;
}

.depositbox.grey p {
	color: #2C3846;
}

.depositbox .leftside {
	margin-top: -36px;
}

.depositbox .btn {
	min-width: 230px;
}

.depositbox h4 {
	color: #fff;
	font-weight: 400;
	padding-top: 0;
	margin-top: 0;
}

.depositbox p {
	color: #fff;
	font-weight: 300;
	margin-bottom: 25px;
	font-style: 24px;
}

@media (max-width: 1024px) {
	.depositbox img {
		margin-right: -80px;
	}
}

@media (max-width: 860px) {
	.depositbox {
		padding: 30px;
		padding-bottom: 90px;
	}

	.depositbox .leftside {
		margin-top: 0px;
	}

	.depositbox img {
		display: none;
	}
}

.box {
	background-color: #fff;
	border-radius: 15px;
	border: 1px solid #d5e0ec;
	overflow: hidden;
}

.box-white {
	border: none;
	padding: 5px;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
}

.box-white img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
}

.box-grey {
	border: 1px solid #d5e0ec;
	border-radius: 15px;
	background-color: #F2F6FB;
	padding: 35px;
}

.breadcrumb {
	display: flex;
	column-gap: 10px;
	overflow: hidden;
	max-width: 100%;
}

@media (max-width: 600px) {
	.breadcrumb {
		font-size: 16px;
	}
}

.breadcrumb a {
	color: #0C54A0;
	font-weight: 500;
}

.breadcrumb span {
	display: block;
	color: #727F8E;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 600px) {
	.breadcrumb span {
		max-width: 200px;
	}
}

.breadcrumb span.icon-miniarr {
	transform: rotate(180deg);
	line-height: 28px;
	font-size: 11px;
}

.inside-title {
	margin-top: 60px;
	flex: 100%;
	max-width: 100%;
}

@media (max-width: 600px) {
	.inside-title {
		margin-top: 80px;
		max-width: 100%;
	}
}

.inside-title h1 {
	margin-top: 20px;
	font-size: 50px;
	margin-bottom: 0px;
}

@media (max-width: 600px) {
	.inside-title h1 {
		margin-top: 10px;
		font-size: 40px;
		margin-bottom: 20px;
	}
}

.modal {
	border-radius: 15px!important;
	padding: 0px 30px;
	max-width: 700px;
}

.modal.online {
	min-height: 90%;
}

.modal .text {
	text-align: center;
}

.modal h2 {
	text-align: center;
}

.modal .descript {
	color: #0C54A0;
	margin-bottom: 15px;
}

.modal .flex-row {
	margin-bottom: 15px;
}

.modal .kategory {
	padding: 20px 0;
	justify-content: flex-start;
}

.modal .kategory .btn {
	height: 45px;
	background-color: #fff;
	color: #727F8E;
	max-width: 145px;
	border: 1px solid #d5e0ec;
}

.modal .kategory .btn.active {
	color: #0C54A0;
	background-color: #9FCAFF;
}

.modal .icon-close {
	display: block;
	z-index: 999;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 46px;
	height: 54px;
	color: #727F8E;
	overflow: hidden;
	font-size: 46px;
}

.modal .icon-close:hover {
	color: #0C54A0;
}

.modal .online-frame {
	height: 160px;
	overflow-y: auto;
}

.modal .online-frame label {
	width: 100%;
	display: block;
	color: #2C3846;
	border-bottom: 1px solid #d5e0ec;
	padding: 5px 0;
}

.modal .online-frame label span {
	font-size: 18px;
}

.section-title {
	width: 100%;
	display: flex;
	padding-right: 20px;
	justify-content: space-between;
	padding-bottom: 20px;
	align-items: center;
}

@media (max-width: 1000px) {
	.section-title {
		padding-right: 20px;
	}
}

.section-title h2,
.section-title h3 {
	margin: auto;
}

.about {
	max-width: 50%;
}

.about .text {
	color: #727F8E;
}

.about .descript {
	color: #2C3846;
	font-size: 24px;
}

.specialist {
	color: #727F8E;
}

.specialist .over_img {
	width: 100%;
	flex: 100%;
	height: 255px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.specialist .over_img {
		height: 200px;
	}
}

.specialist .over_img img {
	width: 100%;
}

.specialist-content {
	padding: 20px 30px;
	display: flex;
	flex-wrap: wrap;
}

.specialist-header .tile {
	font-size: 20px;
	line-height: 110%;
	margin-bottom: 10px;
	font-weight: 300;
}

.specialist-header .expert {
	font-size: 18px;
	color: #0C54A0;
	font-weight: 500;
	line-height: 110%;
	height: 60px;
}

.specialist-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 100%;
}

.specialist-footer .stage {
	white-space: nowrap;
	border-radius: 15px;
	border: 1px solid #d5e0ec;
	padding: 5px 15px;
}

.gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
	flex: 100%;
	max-width: 650px;
	align-items: flex-start;
	align-content: flex-start;
}

.gallery .img {
	flex: 49%;
	max-width: 48%;
	overflow: hidden;
	border-radius: 15px;
	border: 1px solid #d5e0ec;
}

.gallery .img img {
	width: 100%;
	display: block;
	height: auto;
}

.servblock {
	background: #D7E3FC;
	border-radius: 15px;
}

.servblock h5 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.servblock a {
	color: #0C54A0;
	text-decoration: none;
	font-family: Jost;
}

.servblock ul {
	display: flex;
	flex-wrap: wrap;
}

.servblock ul li {
	flex: 49%;
	color: #0C54A0;
	margin-bottom: 10px;
}

.servblock ul li a {
	padding-left: 15px;
	white-space: nowrap;
}

.blog-item {
	text-decoration: none!important;
	cursor: pointer;
}

.blog-item .over_img {
	width: 100%;
	flex: 100%;
	height: 155px;
	overflow: hidden;
}

.blog-item .over_img img {
	width: 100%;
}

.blog-item .pressa-content {
	padding: 25px 25px 25px 25px;
}

.blog-item .pressa-content p {
	margin-top: 0px;
	margin-bottom: 15px;
	text-decoration: none;
}

.blog-item .pressa-content strong {
	margin-bottom: 10px;
	display: block;
	font-size: 19px;
	line-height: 120%;
}

@media (max-width: 480px) {
	.blog-item .pressa-content {
		padding: 15px 15px 15px 15px;
	}
}

.blog-item .btn {
	font-size: 16px;
	height: 47px;
	max-width: 160px;
	margin: auto;
	margin-bottom: 20px;
}

.card-content {
	padding: 25px;
}

.card-content .descrip {
	color: #2C3846;
	font-weight: 600;
	margin: auto;
}

.card-content li {
	color: #727F8E;
}

#special {
	background: url(../images/special.jpg) no-repeat center center;
}

.akcii-item {
	color: #fff;
	position: relative;
	border-radius: 15px;
	padding: 25px;
	height: 260px;
}

.akcii-item h3 {
	margin: auto;
	color: #fff;
}

.akcii-item .akcii-footer {
	position: absolute;
	bottom: 25px;
	left: 25px;
	right: 25px;
	display: flex;
	justify-content: space-between;
}

.akcii-item .akcii-footer p {
	color: #fff;
}

.akcii-item .akcii-footer .btn {
	height: 50px;
	max-width: 160px;
}

.akcii-item .descripti {
	font-size: 24px;
	line-height: 120%;
}

.akcii-item:not(.special) {
	max-width: 430px;
}

.akcii-item.special {
	height: 100%;
}

.top-block {
	overflow: hidden;
	position: relative;
	border-radius: 15px;
	border: 1px solid #d5e0ec;
	flex: 50%;
	max-width: 48%;
	height: 300px;
	background: #0C54A0;
}

.top-block.big {
	max-width: 100%;
	flex: 100%;
}

.top-block.long {
	height: 100%;
}

.top-block .top-block-cont {
	width: 100%;
	padding: 30px;
	background: #080808;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0), #2A3E56);
	position: absolute;
	bottom: 0;
}

.top-block .top-block-cont p {
	color: #fff;
	margin-bottom: 10px;
	margin-top: 0;
}

.top-block .top-block-cont h5 {
	font-size: 26px;
	margin-bottom: 10px;
	color: #fff;
}

.top-block img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.top-block:hover img {
	opacity: .5;
}

.top-colum {
	row-gap: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.top-colum.right-side {
	column-gap: 30px;
	flex-wrap: nowrap;
}

.top-colum.right-side .top-block {
	max-width: 100%;
	flex: 100%;
	max-height: 630px;
}

.top-colum.right-side .flex-col {
	row-gap: 30px;
	display: flex;
	flex-wrap: wrap;
}

.qkcii-data {
	margin-top: 30px;
	color: #727F8E;
	padding: 0 20px;
}

.qkcii-data p {
	color: #727F8E;
}

.qkcii-data b {
	font-size: 20px;
}

#akcii .flex-row {
	margin-bottom: 25px;
}

.data-box {
	position: relative;
	height: 250px;
	background: #fff url(../images/logo_bg.svg) no-repeat 90% center;
	background-size: 35%;
}

.data-box .descript {
	color: #0C54A0;
	font-size: 24px;
}

.data-box img {
	position: absolute;
	right: 20px;
	bottom: 0px;
}

.data-box .btn {
	position: absolute;
	left: 20px;
	bottom: 25px;
}

.previlegii {
	padding: 50px 0;
}

.previlegii .flex-col {
	border: 1px solid #d5e0ec;
	border-radius: 15px;
	padding: 25px;
}

.previlegii .descript {
	color: #0C54A0;
	font-size: 26px;
	line-height: 120%;
}

.previlegii .text {
	color: #727F8E;
}

.more-data {
	display: flex;
	column-gap: 50px;
	position: relative;
}

.more-data span {
	color: #727F8E;
	font-weight: 300;
	max-width: 60%;
	display: block;
}

.more-data img {
	border-radius: 15px;
	border: 1px solid #d5e0ec;
	max-width: 400px;
}

.more-data h4 {
	margin: 10px 0;
}

.more-data .text {
	color: #727F8E;
}

.more-data strong {
	font-size: 26px;
	color: #2C3846;
}

.more-data-stage {
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 20px;
	font-weight: 600;
	color: #0C54A0;
	padding: 10px 25px;
	border-radius: 35px;
	border: 1px solid #d5e0ec;
}

.more-data-content {
	margin-top: 20px;
}

.more-data .more-footer {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
}

.more-data .more-footer img {
	border: none;
	top: 0;
	position: absolute;
	right: 20px;
}

.cost {
	font-size: 22px;
	color: #2C3846;
}

.cost b {
	color: #0C54A0;
	font-size: 24px;
	font-weight: 600;
}

.btn-box {
	display: flex;
	column-gap: 20px;
}

.about-company {
	margin-top: 60px;
}

.slide-gallery {
	overflow: hidden;
	border-radius: 15px;
	border: 1px solid #d5e0ec;
}

.order-block {
	padding: 30px;
	background: #fff url(../images/logo_bg.svg) no-repeat 90% center;
	background-size: 25%;
}

.order-block .descript {
	color: #0C54A0;
	font-size: 24px;
	width: 100%;
	margin-bottom: 25px;
}

.order-block .selectspecial {
	height: 120px;
	overflow-y: auto;
}

.order-block .selectspecial label {
	width: 100%;
	display: block;
	border-bottom: 1px solid #d5e0ec;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.order-block .selectspecial label span {
	font-size: 22px;
	font-weight: 500;
	color: #727F8E;
}

.order-block .selectspecial label i {
	font-size: 15px;
	display: block;
	font-weight: 300;
	font-style: normal;
}

.order-block .selectdate,
.order-block .selecttime {
	display: flex;
	border-radius: 15px;
	column-gap: 10px;
}

.order-block .selectdate .item,
.order-block .selecttime .item {
	cursor: pointer;
	position: relative;
	width: 90px;
	height: 65px;
}

.order-block .selectdate .item input,
.order-block .selecttime .item input {
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.order-block .selectdate .item input:checked + span,
.order-block .selecttime .item input:checked + span {
	background-color: #0C54A0;
	color: #fff;
}

.order-block .selectdate .item span,
.order-block .selecttime .item span {
	z-index: 8;
	background: #fff;
	padding: 0px;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #d5e0ec;
	border-radius: 15px;
	color: #727F8E;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.order-block .selectdate .item span:before,
.order-block .selecttime .item span:before {
	display: none;
}

.order-block .selectdate .item span:hover,
.order-block .selecttime .item span:hover {
	background-color: #F2F6FB;
}

.checklist li {
	font-size: 20px;
	margin-bottom: 10px;
	padding-left: 30px;
}

.checklist li:before {
	content: "\e903";
	margin-right: 10px;
	color: #0C54A0;
	margin-left: -20px;
	float: left;
	font-family: 'icomoon' !important;
}

.blog-content {
	background-color: #fff;
	border: 1px solid #d5e0ec;
	border-radius: 15px;
	margin-top: -100px;
	padding: 30px 50px;
}

.blog-content p {
	color: #727F8E;
}

.pin {
	padding-top: 80px;
}

.alert {
	color: #3A4E66!important;
	background-color: #E9F3FF;
	border: 2px dashed #d5e0ec;
	border-radius: 15px;
	padding: 15px 30px 15px 50px;
}

.alert:before {
	content: "\e909";
	font-family: 'icomoon' !important;
	display: block;
	float: left;
	margin-left: -30px;
	color: #0C54A0 !important;
}

.special-block {
	padding: 30px;
	position: relative;
	background: #F9FCFF;
	height: 245px;
	background: linear-gradient(135deg, #F9FCFF, #F6F6F6);
}

.special-block img {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.special-block .text {
	font-weight: 500;
	z-index: 10;
	position: relative;
}

.special-block .descript {
	color: #0C54A0;
	z-index: 10;
	position: relative;
}

.special-block .outline {
	width: 175px;
	z-index: 10;
	background-color: #fff!important;
	border: 1px solid #0C54A0;
	color: #0C54A0;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.special-block .outline:after {
	display: none;
}

.blue-box {
	background: #F2F6FB;
	border-radius: 15px;
	padding: 30px;
	margin-top: 30px;
	color: #3A4E66;
}

.blue-box p {
	color: #3A4E66!important;
	margin-top: 0;
}

.owl-nav {
	display: none!important;
	margin-top: 30px;
	text-align: center;
	display: block;
}

.owl-nav button {
	margin: 0 15px;
	opacity: 0.3;
}

.owl-nav button:hover {
	opacity: 1;
}

.owl-nav button span {
	color: #0C54A0;
	font-size: 20px;
	border-radius: 100%;
	border: 1px solid #0C54A0;
	display: block;
	width: 40px;
	height: 40px;
	padding: 10px;
	line-height: 90%;
	text-align: center;
}

.owl-dots {
	text-align: center;
	margin-top: 30px;
}

.owl-dots .owl-dot {
	border: 1px solid #0C54A0!important;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	margin: 0 5px;
}

.owl-dots .owl-dot.active {
	background-color: #0C54A0;
}

.place-block {
	text-align: center;
	border-radius: 15px;
	border: 1px solid #d5e0ec;
	flex: 50%;
}

.place-block .place-image {
	overflow: hidden;
	position: relative;
	border-radius: 15px;
	width: 100%;
	z-index: 1;
	margin-top: -50px;
	margin-bottom: 30px;
}

.place-block .place-image img {
	width: 100%;
	display: block;
}

.place-block .place-title {
	background: #fff;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 15px 25px;
	text-align: center;
	color: #0C54A0;
	position: relative;
	font-weight: 500;
	font-size: 28px;
	display: inline;
	margin: auto;
	z-index: 10;
}

.place-block .place-fotter {
	display: flex;
	text-align: left;
}

.place-block .place-fotter .place-data {
	display: flex;
	color: #727F8E;
	flex-direction: column;
	row-gap: 15px;
	max-width: 60%;
}

.place-block .place-fotter .place-data p {
	margin: 0;
}

.place-block .place-fotter .place-data p:before {
	padding-right: 15px;
	font-size: 28px;
	float: left;
}

.place-block .place-fotter .place-data a {
	color: #727F8E;
}

.place-block .place-fotter .place-data a:before {
	padding-right: 15px;
	color: #727F8E;
}

.place-block .place-fotter .place-data a.icon-phone {
	color: #0C54A0;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none!important;
}

.place-block .place-fotter .place-days {
	display: flex;
}

.place-block .place-fotter .place-days .icon-time {
	color: #727F8E;
	font-size: 26px;
	padding-right: 15px;
}

.place-block .place-fotter .place-days p {
	margin-top: 0px;
	color: #727F8E;
}

.place-block .place-fotter .place-days p span {
	display: block;
	margin-bottom: 15px;
}

.map {
	width: 100%;
	overflow: hidden;
	border-radius: 15px;
	border: 1px solid #d5e0ec;
	height: 350px;
	position: relative;
}

.map .map-frame {
	position: relative;
	z-index: 9;
	margin-top: -70px;
}

.map .map-place {
	background: #fff url(../images/place.svg) no-repeat center 15px;
	background-size: 52px;
	position: absolute;
	left: -2px;
	bottom: -2px;
	border: 1px solid #d5e0ec;
	z-index: 999;
	width: 115px;
	height: 115px;
	color: #727F8E;
	text-align: center;
	line-height: 160px;
	border-top-right-radius: 15px;
}

.map .map-place:hover {
	background-color: #F2F6FB;
	text-decoration: none;
}

.collapsible-header {
	color: #0C54A0;
	font-size: 24px;
}

.doc-item {
	border: 1px solid #d5e0ec;
	border-radius: 15px;
	color: #2C3846;
	text-decoration: none!important;
	padding: 20px;
	display: flex;
	flex: 32%;
	max-width: 31%;
}

@media (max-width: 1000px) {
	.doc-item {
		max-width: 49%;
	}
}

@media (max-width: 480px) {
	.doc-item {
		max-width: 100%;
	}
}

.doc-item .descript {
	margin: 0;
}

.doc-item:hover {
	background: #F2F6FB;
}

.doc-item span {
	color: #727F8E;
	display: block;
}

.doc-item:before {
	color: #97B0CD;
	float: left;
	font-size: 46px;
	margin-right: 20px;
}

.content {
	display: flex;
	max-width: 100%;
}

@media (max-width: 1000px) {
	.content .flex-row.three .flex-col {
		flex: 100%;
		max-width: 100%;
	}
}

@media (max-width: 600px) {
	.content {
		flex-wrap: wrap;
	}
}

aside {
	margin-left: 30px;
	min-width: 300px;
	flex: 300px;
}

aside ul li {
	margin-bottom: 10px;
}

aside ul li a {
	color: #727F8E;
	text-decoration: underline;
}

.warning {
	font-weight: 600;
	padding-left: 30px;
	border-left: 5px solid #0C54A0;
	font-size: 18px;
	line-height: 130%;
}