@import url(../setup/setup.less);
#tecnho{padding: 70px 0 120px;}
#pressa{padding: 20px 0 90px;}
#review{padding: 70px 0 50px;}
#serv{padding: 20px 0;}
#head{
    background: @main url(../img/tem_head.jpg);
    height: 600px;
    position: relative;
    .offer{ margin: auto; text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 150px;}
    h1{ color:#fff; font-weight: 700;    margin-bottom: 0;}
     span{color:#fff; font-size: 50px; font-weight: 200;}
}
#article{ padding: 0 0 60px;}
#advantages{    
    padding: 0px;
    margin-top: -66px;
}
#specialist{
    .section-title{ margin-bottom: 50px;}
}

.advantages{
    border-radius: 15px; background-color: #fff; border: 1px solid @line; flex:1; display: flex; overflow: hidden; color:@main; padding-left: 25px;    align-items: center; p{margin: auto;}
}
#review{
    .title{display: flex; justify-content: space-between; border-bottom: 1px solid @line; margin-top: -10px;}
    .text{ color: @subtext;}
}
#consultation{ padding: 0 0 100px; @media (max-width: 480px) {padding: 0 0 50px;}}
#searchresult{ flex: 100%; width: 100%; padding: 20px;margin-top: -30px; display: none;}

//----------HEADER ---------- //
header{
    position: fixed; z-index: 99; top: 0;
    &.inside{background: #fff;box-shadow:0px 7px 20px 10px #121b1e0a; .wrapper{box-shadow: 0 0 0 #000!important;} }
    .wrapper{
        @media (max-width: 1200px) {    padding: 10px 15px;}
        border-radius: 60px; flex-wrap:nowrap ;
        background: #fff;
        padding:   15px;
        box-shadow:0px 7px 20px 10px #121b1e0a;
        @media (max-width: 600px) {height: 80px;}
    }
    .icon-find{ background: @bgr; color: @main; width: 80px;display: flex;font-size: 20px;  margin-top: -15px;     margin-bottom: -15px;    justify-content: center;
        align-items: center; min-width: 50px;
        &:hover{ background: @main; color:#fff;}
    }
    .menu{ display: flex;    flex-grow: 10;     margin: 10px 0;   justify-content: space-evenly;
        li{  
            border-radius: 10px; padding: 10px 15px;
            @media (max-width: 1200px) {padding: 10px 5px;}
            a{color:@main; white-space: nowrap; text-decoration: none;}
            ul{
                display: none;    min-width: 150px;
                position: absolute;
                background: @bgr;
                border-radius: 15px;
                border-top-left-radius: 0;
                padding: 20px 0px;
                margin-top: 4px;
                box-shadow:6px 8px 5px 3px rgba(0, 0, 0, 0.1);
                margin-left: -15px;
                li{ padding: 6px 20px; border-radius: 0px; margin: 0px;
                    &:hover{ background-color: #e4edf8;}
                }
            }
            &:hover {
                background: @bgr;
                ul{display: block;}
            }
        }
    }
    .logo{ min-width: 150px;    @media (max-width: 480px) { width: 170px; }}
    .connect{ display: flex;column-gap: 10px; justify-content:space-between;   flex-grow: 1;  @media (max-width: 600px) {max-width: 115px;}}
    .wp{ border-radius:15px; background: @bgr url(../images/wp.png) no-repeat center center;min-width: 48px; width: 65px; height: 65px;display: block;}
    .tg{border-radius:15px; background: @bgr url(../images/telegramm.png) no-repeat center center; min-width: 48px; width: 65px; height: 65px;display: block;}
    .burger{ display: none; flex:1;}
    .btn{ min-width: 100px; flex:1;   width: auto;}
    @media (max-width: 600px) {
        .burger{display: block;} 
        .menu, .modal-trigger,.icon-find{display: none;}  
        .wp, .tg{width: 54px; height: 54px; background-size: 30px;}
    
    } 
    
}
.burger{
     position: relative; cursor: pointer;
    &:before {content: '';border-top: 2px solid #819bb8;border-bottom: 2px solid #819bb8; height: 20px; display: block;width: 25px; position: absolute; margin: auto; left: 0;right: 0; top:0; bottom:0;}
    &:after  {content: '';height: 2px; background-color: #819bb8;display: block; width: 25px; position: absolute; margin: auto; left: 0;right: 0; top:0; bottom:0;}
}
//----------FOOTTER ---------- //
footer{
    border-top: 1px solid @line; 
    padding-top: 30px;
    @media (max-width: 600px) {display: none;}
    
    .title{
        padding-bottom: 10px;
        &:before{ content: ''; width: 30px; height: 3px; background-color: @main; display: block; position: absolute; bottom: 0px;}
    }

    ul{
        padding-bottom: 25px;
        li{
            margin-bottom: 5px;
            a,p {
                color: @subtext;
                font-size: 18px;
                font-weight: 300;
            }
            b{ display: block;}
         }
    }
   
}

.supperfooter{ 
    border-top: 1px solid @line; 
    padding: 25px 0;
    width: 100%;
    @media (max-width: 600px) { padding: 25px 0 100px;}
   .wrapper{align-items: center;}
  @media (max-width: 600px) { img{display: none;}}
}


.mobile-fotter{
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-border-top-left-radius: 35px;
    -webkit-border-top-right-radius:35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff;
    display:none;
    justify-content: space-between;
    padding: 15px;
    z-index: 90;    align-items: center;
    box-shadow:0px -7px 15px 5px rgba(0,0,0,0.1);
    @media (max-width: 600px) {
        display: flex;
    }
    .icon-find{      text-align: center;  width: 20%; height: 68px;
        &:before{ font-size: 24px;
            line-height: 250%;
            margin: auto;}
    }
}

//----------BOX ---------- //

.depositbox{
    background: #0270C2;
    background: linear-gradient(135deg, #0270C2, #0246AA);
    border-radius: 15px;
    padding: 0px 60px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 300px;
    &.grey{
        background: @bgr;    
        border: 1px solid @line;    
        h4{color:@main;}
        p{color:@text;}
    }
    .leftside{margin-top: -36px;}
    .btn{    min-width: 230px;}
    h4{color:#fff; font-weight: 400; padding-top: 0; margin-top: 0;}
    p{color:#fff;font-weight: 300; margin-bottom:25px; font-style: 24px;}
    @media (max-width: 1024px) { img{margin-right: -80px;}}
    @media (max-width: 860px) { 
      padding: 30px;
      padding-bottom: 90px;
      .leftside{margin-top: 0px;}
      img{display: none;}
    }

}

.box{ 
    background-color: #fff;
    border-radius: 15px; 
    border: 1px solid @line; 
    overflow: hidden;
    &-white{
      border: none; padding: 5px;background-color: #fff;border-radius: 15px; overflow: hidden;
      img{border-top-left-radius: 15px;  border-top-right-radius: 15px;    width: 100%;}
    }
    &-grey{border: 1px solid @line; border-radius: 15px; background-color:@bgr; padding: 35px;}

}

.breadcrumb{
    display: flex; column-gap: 10px; overflow: hidden; max-width: 100%;
    @media (max-width: 600px) {font-size: 16px;}
    a{ color:@main; font-weight: 500;}
    span{ display: block; color: @subtext; white-space: nowrap;     overflow: hidden;     text-overflow: ellipsis; 
      @media (max-width: 600px) {max-width: 200px;}
    &.icon-miniarr{      transform: rotate(180deg);   line-height: 28px;font-size: 11px; }
  }
}

.inside-title{
    max-width: 100%;
    margin-top: 60px; flex: 100%; max-width: 100%;@media (max-width: 600px) { margin-top: 80px;max-width: 100%;}
    h1{ margin-top: 20px;  font-size: 50px;  margin-bottom: 0px; @media (max-width: 600px) {margin-top: 10px;font-size:40px; margin-bottom: 20px}}   
}

.modal{ border-radius: 15px!important;
    padding: 0px 30px;
    max-width: 700px;
    &.online{    min-height: 90%;}
    .text{ text-align: center;}
    h2{ text-align: center;}
    .descript{ color: @main; margin-bottom: 15px;}
    .flex-row{ margin-bottom: 15px;}
    .kategory{ padding: 20px 0;justify-content: flex-start; .btn{ height: 45px; background-color: #fff; color: @subtext; max-width: 145px; border: 1px solid @line; &.active{ color: @main; background-color: @blue;}}}
    .icon-close{ display: block; z-index:999; position: absolute; top: 15px; right: 15px; width: 46px; height: 54px; color: @subtext; overflow: hidden;   font-size: 46px;
      &:hover{color: @main;}
    }
    .online-frame{ height: 160px; overflow-y: auto; 
            label{ width: 100%; display: block;color:@text; border-bottom: 1px solid @line; padding: 5px 0;
                span{font-size: 18px; }
            
            }
    }
}
.section-title{
     width: 100%; 
     display: flex;
     padding-right: 20px;
     justify-content: space-between;padding-bottom: 20px; align-items: center;
     @media (max-width: 1000px) {padding-right: 20px;}
     h2,h3{ margin: auto;}
}

//----------DEF_BLOCK ---------- //
.about{max-width: 50%;
    .text{ color: @subtext;}
    .descript{ color:  @text; font-size: 24px;}
}
.specialist{
    color: @subtext;
    
    .over_img{
        width: 100%; flex:100%; height: 255px; overflow: hidden;
        @media (max-width: 600px) {height: 200px;}
        img{ width: 100%;}
    }
    &-content{padding: 20px 30px;display: flex;  flex-wrap: wrap;}
    &-header{
        .tile{font-size: 20px; line-height: 110%; margin-bottom: 10px; font-weight: 300;}
        .expert{ font-size: 18px; color: @main; font-weight: 500;    line-height: 110%;height: 60px }
    }
    &-footer{
        display: flex; justify-content: space-between;align-items: center;flex: 100%;
        .stage{ white-space: nowrap; border-radius: 15px; border:1px solid @line; padding: 5px 15px;}
    }
}

.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;    
    flex:100%; 
    max-width: 650px; 
    align-items: flex-start;
    align-content: flex-start;
    .img{ flex:49%; max-width:48%; overflow: hidden; border-radius: 15px; border: 1px solid @line;
        img{ width: 100%;    display: block; height: auto;}
    }
}

.servblock{
    background: #D7E3FC;
    border-radius: 15px;
    h5{margin-top: 0px; margin-bottom: 20px;}
    a{color:@main; text-decoration: none; font-family: Jost;}
    ul{ display: flex; flex-wrap: wrap;
        li{ flex: 49%;color:@main; margin-bottom: 10px; a{padding-left:15px; white-space: nowrap;}}
    }  
}

.blog-item{
    text-decoration: none!important; cursor: pointer;
    .over_img{
        width: 100%; flex:100%; height: 155px; overflow: hidden;
        img{ width: 100%;}
    }
    .pressa-content{padding: 25px 25px 25px 25px; p{margin-top: 0px; margin-bottom: 15px; text-decoration: none;} strong {margin-bottom: 10px;display: block; font-size: 19px; line-height: 120%;}
    @media (max-width: 480px) {padding:15px 15px 15px 15px;
        }
    }
    .btn{ font-size: 16px; height: 47px; max-width: 160px; margin: auto; margin-bottom: 20px;}
}
.card-content{
    padding: 25px;
    .descrip{ color: @text; font-weight: 600; margin: auto;}
    li{ color:@subtext;}
}
#special{
    background: url(../images/special.jpg) no-repeat center center;
}

.akcii-item{
    color:#fff;
    position: relative;
    border-radius: 15px;
    padding: 25px;
    h3{ margin: auto;color:#fff;}
    .akcii-footer{ display: flex; p{color:#fff;} position: absolute; bottom: 25px; left: 25px; right: 25px; display: flex; justify-content: space-between; .btn{height: 50px; max-width: 160px;}}
    .descripti{ font-size: 24px;line-height: 120%;}
    height: 260px;
    &:not(.special){max-width: 430px;}
    
    &.special{     height: 100%;}
}

.top-block{
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    border:1px solid @line;
    flex: 50%;
    max-width: 48%;
    height: 300px;
    background: @main;
    &.big{max-width: 100%; flex: 100%;}
    &.long{ height: 100%;}
    .top-block-cont{
        width: 100%;
        padding: 30px;
        background: #080808;
        background: linear-gradient(180deg, rgba(0,0,0,0), #2A3E56);
        position: absolute;
        bottom: 0;     
        p{color:#fff; margin-bottom: 10px; margin-top: 0;}          
        h5{font-size: 26px;margin-bottom: 10px;color:#fff; }          
    }
    img{position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &:hover img{ opacity: .5;}
}

.top-colum{
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    &.right-side{
        column-gap: 30px;
        flex-wrap: nowrap;
        .top-block{max-width: 100%; flex: 100%;     max-height: 630px;}
        .flex-col {row-gap: 30px;
            display: flex;
            flex-wrap: wrap;}
    }  
}

.qkcii-data{
    margin-top: 30px;
    color: @subtext;
    padding: 0 20px ;
    p{color: @subtext;}
    b{ font-size: 20px;}
}

#akcii{ .flex-row { margin-bottom: 25px;}}

.data-box{
    position: relative; height: 250px;
    background: #fff url(../images/logo_bg.svg) no-repeat 90% center;
    background-size: 35%;
    
    .descript{ color: @main; font-size: 24px;}
    img{ position: absolute; right: 20px; bottom: 0px;}
    .btn{position: absolute;left: 20px; bottom: 25px;}
}

.previlegii{
    padding: 50px 0;
    .flex-col{ border: 1px solid @line; border-radius: 15px; padding: 25px;}
    .descript{ color: @main; font-size: 26px; line-height: 120%;}
    .text{ color: @subtext;}
}

.more-data{ 
    display: flex;
    column-gap: 50px;
    position: relative;
    span{ color: @subtext; font-weight: 300; max-width: 60%;    display: block;}
    img{ border-radius: 15px; border: 1px solid @line; max-width: 400px;}
    h4{margin: 10px 0;}
    .text{ color: @subtext;}
    strong  {
        font-size: 26px;
        color: @text;
    }
    &-stage{
        position: absolute;
        right: 30px;
        top: 30px;
        font-size: 20px;
        font-weight: 600;
        color: @main;
        padding: 10px 25px;
        border-radius: 35px;
        border: 1px solid @line;

    }

    &-content{ margin-top: 20px;}
    .more-footer{
        margin-top: 60px;   
        display: flex;
        justify-content: space-between;    
        flex-wrap: wrap;
        position: relative;
        align-items: center;
       img{border: none; top: 0; position: absolute; right: 20px;} 
    }
}

.cost{
    font-size: 22px;
    color: @text;
    b{ color: @main;  font-size: 24px; font-weight: 600;}
}
.btn-box{
    display: flex;
    column-gap: 20px;
}

.about-company{
 margin-top: 60px;
}

.slide-gallery{ overflow: hidden; border-radius: 15px; border: 1px solid @line;}

.order-block{
    padding: 30px;background: #fff url(../images/logo_bg.svg) no-repeat 90% center;    background-size: 25%;
    .descript{ color: @main; font-size: 24px; width: 100%; margin-bottom: 25px;}
    .selectspecial{
        height: 120px; overflow-y: auto;
        label{ width: 100%; display: block; border-bottom: 1px solid @line; padding-bottom:5px; margin-bottom: 5px;
            span {font-size: 22px; font-weight: 500; color: @subtext;}
            i{ font-size: 15px; display: block; font-weight: 300; font-style: normal;}

        }
    }
    .selectdate, .selecttime{
        display: flex; border-radius: 15px; column-gap: 10px;
        .item{cursor: pointer; position: relative; width: 90px; height: 65px; 
            input{  z-index: 10; width: 100%; height: 100%;  left:0; top:0;}
            input:checked+span{background-color: @main; color: #fff;}

            span{ z-index: 8;background: #fff; padding: 0px;display: block; width: 100%; height: 100%;border: 1px solid @line;border-radius: 15px; color: @subtext;text-align: center;display: flex;justify-content: center;  flex-direction: column; 
                &:before{ display: none;}
                &:hover{ background-color: @bgr}
             }
        }
    }
}


.checklist{
    li{ font-size: 20px;margin-bottom: 10px; padding-left: 30px;
        &:before{   content: "\e903"; margin-right: 10px; color: @main; margin-left:-20px; float: left;font-family: 'icomoon' !important;}
    }
}
 
.blog-content{
     background-color: #fff; border: 1px solid @line; border-radius: 15px;margin-top: -100px; padding: 30px 50px; p{color: @subtext;}
}
.pin{ padding-top: 80px;}
.alert{ color: #3A4E66!important; background-color: #E9F3FF;border: 2px dashed @line;border-radius: 15px; padding: 15px 30px 15px 50px;
    &:before{ content: "\e909"; font-family: 'icomoon' !important;display: block;float: left; margin-left: -30px; color: @main !important;} 
}

.special-block{
        padding: 30px;
        position: relative;
        background: #F9FCFF;
        height: 245px;
        background: linear-gradient(135deg, #F9FCFF, #F6F6F6);
        img{ position: absolute; right: 0; top: 0; z-index: 1;}
        .text{font-weight: 500; z-index: 10; position: relative;}
        .descript{ color: @main;z-index: 10; position: relative;}
        .outline{ width: 175px; z-index: 10; background-color: #fff!important; border: 1px solid @main; color:@main; position: absolute; bottom: 30px; left: 30px;&:after{ display: none;}}
}

.blue-box{
    background: @bgr; border-radius: 15px; padding: 30px; margin-top: 30px; color: #3A4E66; p{color: #3A4E66!important; margin-top: 0;}
}

.owl-nav{ 
    display: none!important;
    margin-top: 30px; text-align: center; display: block; 
    button {
        margin: 0 15px;opacity: 0.3;
        &:hover{ opacity: 1;}
        span{
        color: #0C54A0;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #0C54A0;
        display: block;
        width: 40px;
        height: 40px;
        padding: 10px;
        line-height: 90%;
        text-align: center;
        }
    }
}
.owl-dots{
    text-align: center; margin-top: 30px;
    .owl-dot{ border: 1px solid #0C54A0!important; border-radius: 100%; width: 15px; height: 15px; margin: 0 5px;
        &.active{ background-color: @main;}
    }
}